*{

    margin: 0;
    box-sizing: border-box;

}

.container{

    width: 200px;
    background-color: indigo;
    height: 500px;
    display: flex;

}

.item{

    width: 100px;
    height: 100px;
    background-color: lightcoral;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;/*Solo funciona con una linea de texto*/
    flex-grow: 0;
    flex-shrink: 1;
    
}

.item-maximus{

    flex-shrink: 2;

}